/*
  ryan_the_rhg: Reminder: rewrite in 6 months with Elm Land
*/
:root {
  font-family: 'Comic Mono', sans-serif;
  /*font-size: 1.5rem;*/
  font-weight: 700;
  color: #F31CB6;
  /*font-synthesis: none;*/
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*-webkit-text-size-adjust: 100%;*/
}

















































/* Pandapoopums: 💩 */