/*
  ryan_the_rhg: Reminder: rewrite in 6 months with Elm Land
*/
:root {
  font-family: 'Comic Mono', sans-serif;
  font-size: 0.95rem;
  font-weight: 700;
  color: #F31CB6;
}

















































/* Pandapoopums: 💩 */